:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    /* colors */
  --bg-app: #272E33;
  --bg-secondary: #323C41;
  --border-dim: #414B50;
  --border-focus: #555F66;

  --text-primary: #D3C6AA;
  --text-secondary: #9DA9A0;
  --text-dark: #232A2E;

  --primary: #A7C080;
  --hover: #B3C990;
  --dim: rgba(167, 192, 128, 0.15);

  --error: #E67E80;
  --success: #A7C080;

  /* sizes */
  --small-box-radius: 8px;
}

html, body {
    background-color: var(--bg-app);
    color: var(--text-primary);
    height: 100%;
}

/* resets */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h2 {
    padding: 0;
    margin: 0;
}

a:link {
    color: var(--text-primary);
    text-decoration: none;
}

a:visited {
    color: var(--text-primary);
    text-decoration: none;
}

/* base */
body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-secondary);
    padding: 0.5rem;
    color: var(--text-primary);
}

.card__title {
    color: var(--brand-primary);
    font-size: 1.5rem;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0rem;
}

.card__options {
    display: flex;
    width: 100%;
    align-items: center;
    border: 3px solid var(--text-primary);
    background-color: var(--brand-primary);
    color: var(--text-primary)
}

.card__options>* {
    border-width: 3px 1.5px;
    border-style: solid;
    border-color: var(--text-primary);
    padding: .5rem;
    width: 100%;
    text-align: center;

}

.nav {
    display: flex;
    gap: 1rem;
    background-color: var(--bg-secondary);
    padding: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
}
